<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObserberGraph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E842A4681CBD17F200ECB155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E842A47C1CBD17F200ECB155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E842A4871CBD17F200ECB155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
